
.student-details-container h2 {
  color: var(--heading-text-color); 
  margin-bottom: 20px;
}

.student-details-card {
  flex-wrap: wrap;
  gap: 10px;
}

.detail-item {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color-inverted);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
  color: var(--base-text-color);
}

.detail-value {
  margin-left: 10px;
  color: var(--base-text-color);
}

.approve-button {
  background-color: #475be8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button{
  margin-left: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.approve-button:hover {
  background-color: #3b4dc9;
}

.delete-button:hover {
  background-color: #c0392b;
}
