
.student-details-container h2 {
  color: var(--heading-text-color); 
  margin-bottom: 20px;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #ffffff;
  margin-bottom: 2%;
}

.card {
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card .detail-label {
  font-weight: bold;
  color: #485ce7;
}

.card .detail-value {
  color: #333;
  margin-top: 5px;
}

.approve-button {
  background-color: #475be8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button{
  margin-left: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.approve-button:hover {
  background-color: #3b4dc9;
}

.delete-button:hover {
  background-color: #c0392b;
}
