.phone-numbers-list li,
.grades-list li,
.working-places-list li {
  color: var(--lg-text-color);
  margin-right: 10px; /* Keeping the margin-right for spacing */
}

.teacher-details-container h2{
  color: var(--lg-text-color);
  margin-bottom: 10px; 
}