.teacher-details-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .teacher-details-container h2 {
    color: var(--heading-text-color); 
    margin-bottom: 20px;
  }
  
  .teacher-details-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .detail-item {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color-inverted);
    border-radius: 5px;
    padding: 10px;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .detail-label {
    font-weight: bold;
    color: var(--base-text-color);
  }

  .detail-value {
    margin-left: 10px;
    color: var(--base-text-color);
  }

  .phone-numbers-list,
  .grades-list {
    margin-left: 10px;
    color: var(--base-text-color);
  }
  
  .approve-button {
    background-color: #475be8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button{
    margin-left: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .approve-button:hover {
    background-color: #3b4dc9;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .detail-item {
      flex: 1 1 100%;
    }
  }
  
  .content-area-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 12px;
    gap: 16px;
  }
  
  @media (max-width: 992px) {
    .content-area-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 576px) {
    .content-area-cards {
      grid-template-columns: 100%;
    }
  }
  
  .area-card {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 20px 16px;
    justify-content: space-between;
    box-shadow: var(--light-shadow1);
  }
  
  @media (max-width: 768px) {
    .area-card {
      padding: 12px;
    }
  }
  
  .info-title {
    color: var(--lg-text-color);
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .info-value {
    color: var(--xl-text-color);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .info-text {
    color: var(--base-text-color);
    font-weight: 500;
  }
  