/* TeacherDetailsStyles.css */

.teacher-details-container {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teacher-details-card {
  display: flex;
  flex-direction: column;
}

.detail-item {
  margin-bottom: 15px;
}

.detail-label {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.detail-value {
  color: #666;
}

ul {
  padding: 0;
  margin: 0;
}

.phone-numbers-list li, .grades-list li, .working-places-list li {
  background-color: #e1f5fe;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.detail-item ul {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .teacher-details-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .phone-numbers-list, .grades-list, .working-places-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.delete-button {
  background-color: #e57373;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.delete-button:hover {
  background-color: #ef5350;
}

/* Edit, Cancel, and Save Buttons */
/* Edit Button */
.clsedit-button {
  background-color: #475be8;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.clsedit-button:hover {
  opacity: 0.9;
}

.clsdelete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.clsdelete-button:hover {
  opacity: 0.9;
}

/* Cancel Button */
.clscancel-button {
  background-color: #f05d5e;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.clscancel-button:hover {
  opacity: 0.9;
}

/* Save Button */
.clssave-button {
  background-color: #475be8;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.clssave-button:hover {
  opacity: 0.9;
}


.clsselect-dropdown {
  display: inline-block;
  position: relative;
}

.clsselect-dropdown select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Time input styles */
.clstime-input {
  display: inline-block;
  margin-left: 10px;
}

.clstime-input input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


