.content-area-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 12px;
  gap: 16px;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: 100%;
  }

  .area-cards {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    width: 272px;
    border-radius: 5px;
    padding: 20px 16px;
    justify-content: space-between;
    box-shadow: var(--light-shadow1);

    @media (max-width: 768px) {
      padding: 12px;
    }

    .info-title {
      color: var(--lg-text-color);
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: bold;
    }

    .info-value {
      color: var(--xl-text-color);
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 8px;
    }

    .info-value-input {
      width: 100px;
      font-size: 24px;
      border: 0px solid var(--border-color);
      border-radius: 4px;
      box-sizing: border-box;
      color: black;
      font-weight: 700;
      &:focus {
        outline: none;
        border-color: var(--primary-color);
      }
    }

    .buttons {
      display: flex;
      gap: 8px;

      .btn {
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s;

        &.btn-update {
          background-color: green;
          color: white;
          border: none;

          &:hover {
            background-color: darkgreen;
          }
        }

        &.btn-cancel {
          background-color: red;
          color: white;
          border: none;

          &:hover {
            background-color: darkred;
          }
        }
      }
    }
  }
}

.btn-edit {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--primary-color);
  color: white;
  border: none;

  &:hover {
    background-color: darkblue;
    color: white;
  }
}

// global recharts tooltip customization
.recharts-default-tooltip {
  padding: 4px 8px !important;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 12px;
  border-radius: 4px;
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--border-color-inverted) !important;
}

.recharts-tooltip-item-list {
  * {
    color: var(--text-color-inverted) !important;
    font-size: 14px;
    font-family: inherit !important;
    opacity: 0.9;
  }
}
